*{
    font-size:2.5vh;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(72, 72, 192, 0.428);
    justify-content: center;
    height: 100vh;
}
#calendario-container{ 
    height: 42vh;
    max-width: 800px;
    aspect-ratio: 1/1;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.526);
    border:solid black 1px;
    background-color: rgba(255, 255, 255, 0.689);
    border-radius: 5px;
}
#mes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-mes{
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}
.button-mes:hover{
    background-color: rgb(178, 177, 177);
    transition: 0.4s;
    cursor: pointer;
}
#titulo{
    margin: 0px;
    text-align: center;
    font-size: 2rem;
}
#mes{
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
}
#dias-semana{
    display:flex;
    justify-content: space-around;
    
}
#dias-semana td{
    border: 1px solid black;
    height: 5vh;
    width: 5vh;

    text-align: center;
    aspect-ratio: 2/1;
    font-size: 0.75rem;
    cursor: pointer;
    margin: 0px;
    transition: 0.3s;
}
#dias-semana th:hover{
    transition: 0.3s;
    background-color: rgb(178, 177, 177);

}
.dia-hoje{
    background-color: rgb(189, 189, 189);
}

.dias-numero td{
    height: 5vh;
    text-align: center;
    font-size: 1rem;
    aspect-ratio: 2/1;
    border: 1px solid black;
    transition: 0.3s;
    cursor: pointer;
    margin: 0px;
}
.dias-numero td:hover{
    background-color: rgb(178, 177, 177);
    transition: 0.3s;
}

table{
     border-collapse: collapse;
}

#clima{
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#clima h3{
    margin: 0px;
}